<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinatra RPS</title>
    </head>
    <body>
    <div>
     <div></div>
    <div><a href='/rock'>Play Rock</a></div>
    <div><a>Play Paper</a></div>
    <div><a>Play Scissors</a></div>
    </div>
    <header>
    <h1>Welcome to Rock-Paper-Scissors!</h1>
    </header>

    </body>
    </html>
